import ax from '@/request/ax'

// 列表
export function getList(data) {
    return ax({
        url: `/${entity.substring(0, 1).toLowerCase()}${entity.substring(1)}s/pages`,
        method: 'post',
        data
    })
}

// 新增
export function add(data) {
    return ax({
        url: `/${entity.substring(0, 1).toLowerCase()}${entity.substring(1)}s/`,
        method: 'post',
        data
    })
}

// 修改
export function edit({ id, data }) {
    return ax({
        url: `/${entity.substring(0, 1).toLowerCase()}${entity.substring(1)}s/${id}`,
        method: 'put',
        data
    })
}

// 删除
export function del({ id }) {
    return ax({
        url: `/${entity.substring(0, 1).toLowerCase()}${entity.substring(1)}s/${id}`,
        method: 'delete'
    })
}

// 详情
export function getDetail({ id }) {
    return ax({
        url: `/${entity.substring(0, 1).toLowerCase()}${entity.substring(1)}s/${id}`,
        method: 'get'
    })
}
// 导出
export function _export({ id }) {
    return ax({
        url: `/${entity.substring(0, 1).toLowerCase()}${entity.substring(1)}s/export/${id}`,
        method: 'get',
        responseType: 'blob',
        headers: {
            'Content-Type': 'multipart/form-data'
        }
    })
}

