package ${package.Entity.substring(0,16)}.jpa;

import ${package.Entity}.${entity};
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.jpa.domain.Specification;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.transaction.annotation.Transactional;

/**
 * 
 * $!{table.comment} jpa 接口
 *
 * @author ${author}
 * @since ${date}
 */

@Transactional(rollbackFor = Exception.class)
public interface ${entity}Repository extends JpaRepository<${entity}, Integer> {

    /**
     * 按条件查询方案
     * @param spec spec
     * @param pageable 分页
     * @return page
     */
    Page<${entity}> findAll(Specification<${entity}> spec, Pageable pageable);

}